*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

#root {
    background-color:rgb(198, 238, 237)
}

/* header */
.logo-header {
    height: 75px;
    margin: 10px 0px 10px 25px;
}

.container-header{
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* buttons */
.login:hover, .signup:hover {
    text-decoration: none;
}

.login {
    min-width: 50px;
}

/* landing page */

/* .landing {
    width: 100%;
} */

/* footer */
.footer {
    border-top: solid 1px black;
}

/* signup page */
.card1 {
    margin: 25px 0px 25px 0px;
    border: 1px solid black;
}

.thought-list {
    width: 100%;
}