.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.home-container .slab {
  width: 150px;
  margin: 50px 0 30px 0;
}

span {
  text-transform: uppercase;
  font-weight: bold;
}

.home-container p {
  width: 60%;
}

.recipe-list-container {
  margin: 50px 0 0 0;
}

@media (max-width: 320px) {
  .home-container p {
    width: 100%;
    padding: 15px;
  }
}
  
  