/* Basic Navbar Styles */
.navbar, a, button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .25rem;
  background-color: #024049;
  color: white;
  position: relative;
}

.navbar-logo img {
  width: 75px;
}

a, button {
  color: white;
  text-decoration: none;
  background-color: transparent;
  font-size: small;
  text-transform: uppercase;
  transition: .3s;
}

a:hover, .favorites-btn:hover, .add-post-btn:hover, .logout-btn:hover {
  text-decoration: none;
  background-color: rgb(255, 250, 227);
  border-radius: 0;
  color: #024049;
}

.navbar-left, .navbar-right {
  display: flex;
  align-items: center;
}

/* Right-side items */
.navbar-right button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Signup button styling */
.signup-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Right-side items styling adjustments */
.navbar-right button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: small;
}

.navbar-hidden {
  transform: translateY(-100%); /* Move the navbar up and out of view */
  transition: transform 0.3s ease;
}

.user-name {
  margin-right: 1rem;
  font-weight: bold;
}

/* Dropdown menu styling for tablet view */
.menu-button {
  display: none;
}

.navbar-dropdown {
  display: flex;
  flex-direction: flex-end;
}

.dropdown-open .navbar-dropdown {
  display: flex;
  position: absolute;
  right: 0;
  background: rgba(2, 65, 75, 0.90);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive for tablet screens */
@media (max-width: 1000px) {
  .navbar-dropdown {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .dropdown-open .navbar-dropdown {
    position: absolute;
    top: 100%;
    width: 100%;
  }
}
